<!--
File: contact.ejs
Name: Stephen Kamino
StudentID: 822600292
Date: Oct 09 2020
-->
<main class="container">
    <div class="jumbotron">
        <div id="logoStyle">
        <img href="" src="/Assets/images/s logo.png" alt="s logo" style="float: right;">
        <h2>Contact Us</h2></div></div>
       
        <hr>
        <form action="email" method="post">
            <table>
                <tr><h3>Enter your information</h3><hr>
                    <br>
                    <td style="width:215px"><label for="name">Name: </label></td>
                    <td><input type="text" id="txt1" name="name"></td>
                </tr>
                <tr>
                    <td style="width:215px"><label for="addr">Email: </label></td>
                    <td><input type="text" id="txt3" name="addr"></td>
                </tr>                    
            </table><br>
            <label style="width:215px" for="comment">Details of Request</label>
            <textarea type="text" id="txt5" rows="10" name="comments" style="width: 75%; height: 40px"></textarea>
            <br><br>
            <p>
                <input type="submit" class="btn btn-primary btn-large" value="Send it &raquo;"></a>
            </p>
        </form>
      
    </div>