<!--
File: home.ejs
Name: Stephen Kamino
StudentID: 822600292
Date: Oct 20 2020
-->

<main class="container">
    <div class="jumbotron">
        <div id="logoStyle"></div>
        <!-- this is not working figure out why -->
        <img href="http://skamino.githubio/intro" src="/Assets/images/s logo.png" alt="s logo" style="float: right;">
        <br><br>
        <h1>Welcome to my site!</h1>
        <p>&nbsp&nbsp This is the greatest site in the world.  I have learned a bunch about javascript and creating middle ware.
            I am very happy that you have decided to visit.  You can check out the different pages by clicking the link in the nav bar.
            Take a look around.  Enjoy!
        </p>
        <p>
          <br>&nbsp&nbspOh, you can leave now, its your last chance... dont click the button try the nav bar!<br><br>
          <a href="https://www.google.ca" class="btn btn-primary btn-large">To Google &raquo;</a>
         </p>
      </div>
      <h3>Mission Statement</h3>
      <hr>
      Hello readers<br>
      &nbsp;&nbsp;I am a student here Centennial College.  I am enroled in the Software Engineering Program.  This may sound ambicious but, I am going to be the best programmer ever.  The main goal is to get a job so school seems like the plan.
      <hr>
       </div>
       <br>
  <br>
    </div>
<hr>
    
 
    </div>
  </main>