<!--
File: project.ejs
Name: Stephen Kamino
StudentID: 822600292
Date: Oct 09 2020
-->

<main class="container">
  <div class="jumbotron">
      <div id="logoStyle">

      <img href="" src="/Assets/images/s logo.png" alt="s logo" style="float: right;">
      <h1>Projects</h1>
      <p>Sometimes its better to see what you are going to get before you buy it.  These are a few of the project that I am currently working on.  Have a look!</p>
      <p><a class="btn btn-primary btn-large">To Git &raquo;</a></p>
    </div>
  </div>
  <hr>
    <div class="row">
      <div class="col-md-4">
        <h2>Java Site</h2>
        <p>&nbsp;&nbsp;Java Site.  Designed as a tutorial for a friend to learn Java.  Is currently in production, with frequent updates on the way.  The site is a how to for some topic in Java.  Desinged for the beginner who can learn at a fast pace.</p>
        <p><a href="https://skamino.github.io/javasite/" class="btn btn-primary" role="button">
          <i class="fas fa-plus-circle"></i> View Site &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Network Analyzer</h2>
        <p>&nbsp;&nbsp;Regardless of the endless posiblilities out there already, this is one designed by me that is designed to be more customizable.  Via plugin it is easily adaptable to almost every situation.</p>     </div>
      <div class="col-md-4">
        <h2>Battery Charger</h2>
        <p>&nbsp;&nbsp;The current pandemic has prompted many survival type projects.  This battery charger is part of a set of projects designed to compensate for power outages in the event of world wide appocolipse</p>
      </div>
    </div><hr><br><br>
