<!--
File: services.ejs
Name: Stephen Kamino
StudentID: 822600292
Date: Oct 09 2020
-->

<div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">Web</li>
            <li class="active"><a href="#">HTML</a></li>
            <li><a href="#">Java Script</a></li>
            <li><a href="#">NodeJS</a></li>
            <li><a href="#">LAMP</a></li>
            <li class="nav-header">Coding</li>
            <li><a href="#">C Sharp</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">C Plus Plus Slash C</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">Bash Scripting</a></li>
            <li><a href="#">Powershell</a></li>
            <li class="nav-header">DataBase</li>
            <li><a href="#">SQL</a></li>
            <li><a href="#">MongoDB</a></li>
            <li><a href="#">mySQL</a></li>
          </ul>
        </div><!--/.well -->
      </div><!--/span-->
      <div class="span9">
        <div class="hero-unit">
          <img href="" src="/Assets/images/s logo.png" alt="s logo" style="float: right;">
          <h1>At your service!</h1>
          <p>&nbsp;&nbsp;This is the services that I am currently offering.  If you haven't checked out my services page just follow the link and don't forget to subscribe (JK).  
              I have been around a while and have aquired some knowledge.  If you want something just let me know.  <br>Thy will be done!
          </p>
          <p><a class="btn btn-primary btn-large">to Projects &raquo;</a></p>
        </div>

        <div class="row-fluid">
          <h2>Coding</h2>
          <div class="span4">
            <h2>C Plus Plus / C</h2>
            <p>&nbsp;&nbsp;An older and still very relevent language.  Used to create many lower level code projects and has found a new life in smaller embedded designs.</p>
          </div><!--/span-->
          <div class="span4">
            <h2>C Sharp</h2>
            <p>&nbsp;&nbsp;A managed language used with many windows applications.  A very easy to use language, with many libraries that can add very complex features.  Keeps production cost down with this handy tool.</p>
          </div><!--/span-->
        </div>

        <div class="row-fluid">
          <h2>Web</h2>
          <div class="span4">
            <h2>Java Script</h2>
            <p>&nbsp;&nbsp;The power of the internet.  This is the language used to make use of the power of the browsers.  All of intuitive stuff that happens on the client side is run with javascript.  Experience faster loading today.</p>
          </div><!--/span-->
          <div class="span4">
            <h2>NodeJS</h2>
            <p>&nbsp;&nbsp;NodeJS the more modern server.  Having NodeJS on your backend will make managing the site better and more secure.  Consider going with this solution.</p>
          </div><!--/span-->
        </div>

        <div class="row-fluid">
          <h2>Database</h2>
          <div class="span4">
            <h2>SQL</h2>
            <p>&nbsp;&nbsp;A very organized and specific style of database application.  Designed to handle business data.  For any type, or size of business this is your solution</p>
          </div><!--/span-->
          <div class="span4">
            <h2>MongoDB</h2>
            <p>&nbsp;&nbsp;The less organized option.  The data stored in these databases is closer to true metadata.  Researchers and AI people will agree that this is a great option.  Get creative with Mongo.</p>
          </div><!--/span-->
        </div>

    <hr>
